{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <table>
        <tr>
        <td>Name:</td>
        <td><input type=text size=30 name="name"></td>
      </tr>
      <tr>
        <td>Mobile Number:</td>
      <td><input type=text size=30 name="cellnumber"></td>
      </tr>
        <tr>
      <td>Number in Party:</td>
      <td><input type=text size=30 name="partyof"></td>
    </tr>
    <tr>
      <td>Priority Customer</td>
      <td><input type="checkbox" name="priority"></td>
    </tr>
      </table>
      <input type=submit class="button" value=Share>
    </form>
  {% endif %}
  <br>
<p>Show all parties of: 
{% for i in range(1,6) %}
<a href="{{ url_for('show_entries', partysize=i) }}" class="button">{{i}} </a> 
{% endfor %}
<a href="{{ url_for('show_entries', partysize=None) }}" class="button">Show All </a> </p>

<div class="CSSTableGenerator" >
  <table class="fixed">
    <col width="20px" />
    <col width="200px" />
    <col width="75px" />
    <col width="150px" />
    <col width="250px" />
     <tr> 
      <td>  </td>
      <td>  Name </td>
      <td>  Party </td>
      <td>  Phone Number </td>
      <td>   </td>
    </tr>
  {% for entry in entries %}
   <tr> 
      <td class="entryPriority"> {% if entry.priority==1 %} &#9733; {% endif %}</td>
      <td> {{ entry.name }} </td>
      <td class="partyNum"> {{ entry.partyof }} </td>
      <td> {{ entry.cellnumber }} </td>
      <td> 
        <a href="{{ url_for('text', reservation_id=entry.id) }}" class="btn-notify">Notify</a> 
        <a href="{{ url_for('remove', reservation_id=entry.id) }}" class="btn-remove">Remove</a> 
      </td> 
    </tr>
    <div class="CSSTableGenerator" >

      {% else %}
    <li><em>There are currently no Reservations</em>
  {% endfor %}
</table>
</div>

{% endblock %}
